<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionSql"
			 connectionString="Data Source=SIG1XGD201\SQLEXPRESS;Initial Catalog=ENTREGAUNED;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>